.photo-gallery-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:50px 10px 10px 10px ;
    
}
.photo-gallery{
    display:grid;
    grid-auto-flow:column;
    overflow-x:auto;
    padding:20px;
    column-gap:10px;
    /* box-shadow: inset 0px 0px 10px 3px #f4cf7d; */
    border-radius:10px;
}
.photo-gallery::-webkit-scrollbar{
    height:10px;
}


.photo{
    height:300px;
    width:300px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:white;
    border-radius:10px;
    border:1px solid #f4cf7d;
    transition: transform 300ms ease-in-out;
    animation:gallery-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate-reverse;
}
/* @keyframes gallery-animation{
    0%{
        transform:translateX(0%);
    }
    50%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(-170%);
    }
    
} */

.photo-one{
    background-image: url("./IMG_20210804_172615.jpg");
}
.photo-two{
    background-image:url("./IMG_20210804_173657.jpg");
}
.photo-three{
    background-image:url("./IMG_20210804_173842.jpg");
}
.photo-four{
    background-image:url("./IMG_20211026_212340.jpg");
}
.photo-five{
    background-image:url("./IMG_20211027_023436.jpg");
}